div.ex1 {
    width:500px;
    margin: auto;
    border: 3px solid #73AD21;
}

div.ex2 {
    max-width:500px;
    margin: auto;
    border: 3px solid #73AD21;
}

.card-container {
    display : flex;
    flex-direction: row;
}

.example-card {
    display : inline-block;
    width: 30%;
    margin : 20px;
    vertical-align:  top;
    cursor:  pointer;
}